<h2 mat-dialog-title>Add a user</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addPostForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>SubTitle</mat-label>
      <input formControlName="subTitle" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput>
    </mat-form-field>
    <div>
      <button (click)="fileInput.click()" mat-fab color="primary">
        <mat-icon>picture_in_picture_alt</mat-icon>
      </button>
      <input style="display: none;" (change)="onImageUpload($event)" #fileInput type="file" >
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && addPostForm.controls['image'].valid">
      <img [src]="imagePreview" [alt]="addPostForm.value.title">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" [mat-dialog-close]="false">Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="addPostForm.value" cdkFocusInitial>Save User</button>
</mat-dialog-actions>
