<h2 mat-dialog-title>Add a user</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addUserForm">
    <mat-form-field>
      <mat-label i18n="@@name">Name</mat-label>
      <input formControlName="userName" matInput>
      <mat-error *ngIf="addUserForm.controls['userName'].hasError('required')">Please enter a name</mat-error>
      <mat-error *ngIf="addUserForm.controls['userName'].hasError('prohibitedName')">Prohibited name</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput>
      <mat-error *ngIf="addUserForm.controls['password'].hasError('required')">password required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input type="password" formControlName="confirmPassword" matInput>
      <mat-error *ngIf="addUserForm.controls['confirmPassword'].hasError('required')">password required</mat-error>
      <!-- <mat-error *ngIf="addUserForm.hasError('noMatch')">Password not match</mat-error> -->
    </mat-form-field>
    <mat-error *ngIf="addUserForm.hasError('noMatch')">Password not match</mat-error>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!addUserForm.valid" [mat-dialog-close]="true" cdkFocusInitial>Save User</button>
</mat-dialog-actions>
