<div class="post-container">
<mat-card *ngFor="let post of postsList$ |async" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>{{post.subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{post.desc}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onLike(post)" [style.color]="post.isLiked?'red':'black'">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer>
    {{post.likesCount}} liked
  </mat-card-footer>
</mat-card>
</div>
